<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js" defer></script>
    </head>
    <body class="bg-gray-100 h-screen antialiased leading-none font-sans">

        <div
            class="w-full flex-grow lg:flex lg:items-center lg:w-auto"
            :class="{ 'block shadow-3xl': isOpen, 'hidden': !isOpen }"
            @click.away="isOpen = false"
            x-show.transition="true">

            <ul class="pt-6 lg:pt-0 list-reset lg:flex justify-end flex-1 items-center">
                <li class="mr-3">
                    <a
                            class="inline-block text-gray-300 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
                            href="/"
                            @click="isOpen = false">
                        Home
                    </a>
                </li>

                <li class="mr-3">
                    <a
                            class="inline-block text-gray-300 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
                            href="/movies"
                            @click="isOpen = false"
                    >Movies
                    </a>
                </li>

                <li class="mr-3">
                    <a
                            class="inline-block text-gray-300 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
                            href="/contact"
                            @click="isOpen = false">
                        Contact
                    </a>
                </li>

                <li class="mr-3">
                    <a
                        class="inline-block text-gray-300 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
                        href="/{{app.user ? 'logout' : 'login'}}"
                        @click="isOpen = false">
                        {{ app.user ? 'Logout' : 'Login' }}
                    </a>
                </li>
            </ul>
        </div>

        {% block body %}{% endblock %}
    </body>
</html>
